@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    [type='text'],
      [type='email'],
      [type='url'],
      [type='password'],
      [type='number'],
      [type='date'],
      [type='datetime-local'],
      [type='month'],
      [type='search'],
      [type='tel'],
      [type='time'],
      [type='week'],
      [multiple],
      textarea,
      select{
        @apply w-full rounded-md  py-3 px-4 shadow placeholder-gray-400 font-semibold text-blue-600  focus:ring focus:ring-indigo-400 border border-gray-100 outline-none
    }
    [type='checkbox'],
    [type='radio']{
        @apply text-green-500 shadow rounded focus:ring-green-500 border-gray-400
    }
}

.loader {
	border-top-color: #3498db;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
